* {
  overflow-x: hidden;
}
body {
  margin: 0;
  direction: rtl;
}


.editable:empty:before {
  content: attr(data-placeholder);
  color: #999999;
}

a {
  text-decoration: none;
  color:unset;

}
a:visited {
  color: unset;
}


.uni_m_b_small {
  margin-bottom: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5EA9DD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c53e3;
}

.MuiDrawer-paperAnchorRight {
  overflow-x: hidden;
}


